h1, p{
  width: 100%;
}

#head{
  margin-left: 450px;
  margin-right: 450px;
}

input{
  margin-left: 20px;
  border-radius: 5px;
  padding: 10px;
}

textarea{
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border-color: #b8b2b2;
}
