<div class="main-content">
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 600px; background-image: url({{data?.image}}); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-default opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center" id="head">
      <div class="row">
        <div class="col-lg-12 col-md-12 text-center ">
          <h1 class="display-2 text-white"> {{data?.title}} </h1>
          <p class="text-white mt-0 mb-5"> {{data?.topic}} </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  <img src={{data?.author.user.profileImg}} alt="profile img" class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-between">
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center card-profile-stats mt-md-5">
              <h3>
                {{data?.author.user.name}} {{data?.author.user.name}}
              </h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>{{data?.author.user.city}}, {{data?.author.user.country}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0" style="font-weight: lighter"> {{data?.date | date:'long'}} </h3>
              </div>
              <div class="col-4 text-right">
                <a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal"
                  style="color:white;">Edit article</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p>
              {{data?.content}}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- edit article modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update your article</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <label>Title:</label> <br>
              <input type="text" #title value={{data?.title}}> <br>
              <label>Topic:</label> <br>
              <input type="text" #topic value={{data?.topic}}> <br>
              <label>Content:</label> <br>
              <input type="text" #content value={{data?.content}}> <br>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal"
              (click)="updateArt(title.value, topic.value, content.value)">Update article</button>
          </div>
        </div>
      </div>
    </div>
    <!-- comments section -->
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0"> Comments</h3>
            </div>
            <div class="col-4 text-right">
              <img *ngIf="!isLikedArticle()" (click)="likeBtn()"
                src="../../assets/img/icons/instagram-heart-png-23878.png" style="height:30px; width: 35px;">
              <img *ngIf="isLikedArticle()" (click)="likeBtn()"
                src="http://www.transparentpng.com/thumb/instagram-heart/CYXrdl-instagram-heart-hd-photo-png.png"
                style="width: 35px; height: 30px;">

            </div>
          </div>
        </div>
        <div class="card-body row" *ngFor="let comment of comments">
          <div class="col-md-1" style="border-color: black; border-radius: 100px;"></div>
          <div class="col-md-10">
            <h3 class="mb-0">{{comment.user.name}} {{comment.user.lastname}}</h3>
            <p>{{comment.comment}}</p>
          </div>
          <hr class="my-4" />
        </div>
        <div class="card-body">
          <textarea placeholder="Add comment .." #comment></textarea>
          <div class="text-right" (click)="addComment(comment.value); comment.value='';">
            <a class="btn btn-sm btn-primary" style="color:white; float: right;">Comment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
