<!-- <div class="main-content">

  <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
    <div class="container px-4">
      <a class="navbar-brand" href="../index.html">
          <h1 class="text-right text-monospace text-lowercase">Ghym</h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse-main">

        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="../index.html">
                <img src="../assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="../index.html">
              <i class="ni ni-planet"></i>
              <span class="nav-link-inner--text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="../examples/register.html">
              <i class="ni ni-circle-08"></i>
              <span class="nav-link-inner--text">Register</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="../examples/login.html">
              <i class="ni ni-key-25"></i>
              <span class="nav-link-inner--text">Login</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="../examples/profile.html">
              <i class="ni ni-single-02"></i>
              <span class="nav-link-inner--text">Account</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
    </div>
  </div>
</div>

<footer class="py-5">
  <div class="container">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6">
        <div class="copyright text-center text-xl-left text-muted">
          &copy; 2019 <a href="../index.html" class="font-weight-bold ml-1">ghym</a>
        </div>
      </div>
    </div>
  </div>
</footer>
 -->
<div class="wrap">

      <header role="banner">
        <div class="top-bar">
          <div class="container">
            <div class="row">

               <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">

                  <div class="col-6 collapse-brand">
                    <a  class=" navbar-brand" href="../index.html">
                     <h1  style="font-size:30px;"class="text-right nav-link-inner--text">home</h1>
                    </a>
                  </div>
                  <div class="col-6 collapse-close">
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                      <span></span>
                      <span></span>
                    </button>
                  </div>


              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link nav-link-icon" href="../index.html">
                    <i class="ni ni-planet"></i>
                    <span class="nav-link-inner--text">Dashboard</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-icon" href="../examples/register.html">
                    <i class="ni ni-circle-08"></i>
                    <span class="nav-link-inner--text">Register</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-icon" href="../examples/login.html">
                    <i class="ni ni-key-25"></i>
                    <span class="nav-link-inner--text">Login</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-link-icon" href="../examples/profile.html">
                    <i class="ni ni-single-02"></i>
                    <span class="nav-link-inner--text">Account</span>
                  </a>
                </li>
              </ul>

            </nav>
            </div>
          </div>
        </div>

        <div class="container logo-wrap">
          <div class="row pt-5">
            <div class="col-12 text-center">
              <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button" aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
              <a  class=" navbar-brand" href="../index.html">
                     <h1  style="color:black; font-size: 30px;"class="text-center text-lowercase">ghym</h1>
                    </a>
            </div>
          </div>
        </div>


      </header>
      <!-- END header -->

      <section class="site-section pt-5 pb-5">
        <div class="container">
          <div class="row">
            <div class="col-md-12">


      <!-- END section -->

      <section class="site-section py-sm">
        <div class="container">
          <div class="row">
            <div  class="col-md-6">
              <h2 class="mb-4">Latest Posts</h2>
            </div>
          </div>
          <div class="row blog-entries" >
            <div class="col-md-12 col-lg-12 main-content">
              <div class="row">
                <div class="col-md-4" *ngFor="let info of articles">
                  <a href="blog-single.html" class="blog-entry element-animate" data-animate-effect="fadeIn">
                    <img src="http://{{info.Image}}" alt="Image placeholder">
                    <h4>Written by:  {{info.author.user.name}}    {{info.author.user.lastname}}</h4>

                    <div class="blog-content-body">
                      <div class="post-meta">
                        <span class="mr-2">{{info.date | date:'dd/LLL/yyyy'}} </span>

                      </div>
                      <h2>{{info.title}}</h2>
                      <h6>{{info.topic}}</h6>

                    </div>
                  </a>
                </div>
              </div>

            <!-- END main-content -->




          </div>
        </div>

        <footer class="py-5">
            <div class="container">
              <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                  <div class="copyright text-center text-xl-left text-muted">
                    &copy; 2019 <a href="../index.html" class="font-weight-bold ml-1">ghym</a>
                  </div>
                </div>
              </div>
            </div>
          </footer>
      <!-- END footer -->

    </div>

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214"/></svg></div>
